@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

.container-login{
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container-login h2.titulo{
    font-family: "Orbitron", cursive;
    font-size: 70px;
    color: rgb(70, 21, 110);
    animation: fadeIn 1.5s forwards;
}
.container-login p{
    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    color: rgb(77, 9, 141);
}
.buttonCustomizar{
    width: 50%;
    padding: 20px;
    color: white;
    background-color: rebeccapurple;
    border: none;
    border-radius: 10px;
    font-family: "Orbitron", sans-serif;
}

.markting {
  width: 50%;
  height: 60vh;
  margin: 10px auto; 
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 5px;
  background-color: aliceblue;
  animation: fadeIn 1.5s forwards;
}

.fadeInTextMarkting {
  opacity: 0;
  transition: opacity 1.5s ease;
  color: rebeccapurple;
  font-weight: bold; 
  font-size: 2rem;
  letter-spacing: 2px;
}

.imagesOculos {
  display: flex;
  justify-content: center;
  align-items: center; 
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}

.imagesOculos img {
  width: 30%;   
}

.button{
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1.5s forwards;
}

.typeAnimation {
  font-family: "Orbitron", sans-serif;
  color: rebeccapurple;
  letter-spacing: 2px;
  font-weight: bold;
  text-shadow: 2px 2px 4px gray;
}